@charset "UTF-8";
.row.cols-1 .col {
  width: 100%; }

.row.cols-2 .col {
  width: 50%; }

.row.cols-3 .col {
  width: 33.33333%; }

.row.cols-4 .col {
  width: 25%; }

.row.cols-5 .col {
  width: 20%; }

.row.cols-6 .col {
  width: 16.66667%; }

.row.cols-7 .col {
  width: 14.28571%; }

.row.cols-8 .col {
  width: 12.5%; }

.row.cols-9 .col {
  width: 11.11111%; }

.row.cols-10 .col {
  width: 10%; }

.row.cols-11 .col {
  width: 9.09091%; }

.row.cols-12 .col {
  width: 8.33333%; }

@media all and (max-width: 850px) {
  .row.cols-850-1 .col {
    width: 100%; }

  .row.cols-850-2 .col {
    width: 50%; }

  .row.cols-850-3 .col {
    width: 33.33333%; }

  .row.cols-850-4 .col {
    width: 25%; }

  .row.cols-850-5 .col {
    width: 20%; }

  .row.cols-850-6 .col {
    width: 16.66667%; }

  .row.cols-850-7 .col {
    width: 14.28571%; }

  .row.cols-850-8 .col {
    width: 12.5%; }

  .row.cols-850-9 .col {
    width: 11.11111%; }

  .row.cols-850-10 .col {
    width: 10%; }

  .row.cols-850-11 .col {
    width: 9.09091%; }

  .row.cols-850-12 .col {
    width: 8.33333%; } }
@media all and (max-width: 650px) {
  .row.cols-650-1 .col {
    width: 100%; }

  .row.cols-650-2 .col {
    width: 50%; }

  .row.cols-650-3 .col {
    width: 33.33333%; }

  .row.cols-650-4 .col {
    width: 25%; }

  .row.cols-650-5 .col {
    width: 20%; }

  .row.cols-650-6 .col {
    width: 16.66667%; } }
@media all and (max-width: 450px) {
  .row.cols-450-1 .col {
    width: 100%; }

  .row.cols-450-2 .col {
    width: 50%; }

  .row.cols-450-3 .col {
    width: 33.33333%; } }
.row {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: inline-block; }
  .row .col {
    padding: 0 25px 0 25px;
    position: relative;
    box-sizing: border-box;
    float: left; }

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: #ccc;
  color: #222;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  transition: all .2s; }

.button:hover {
  background: #bbb;
  transition: all .2s; }

.button.green {
  background-color: #86c351; }

.button.green:hover {
  background-color: #78b04a; }

.button.blue {
  background-color: #00b3e0; }

.button.blue:hover {
  background-color: #0097be; }

.button.red {
  background-color: #ff5817; }

.button.red:hover {
  background-color: #da4912; }

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  font-weight: 300; }

h1 {
  font-weight: 400; }

h2 {
  font-weight: 300; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

body {
  margin: 0; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.center-horizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

section {
  background-color: #ccc; }
  section.content {
    padding: 0 10% 0 10%; }

@media all and (max-width: 850px) {
  section.content {
    padding: 0 5% 0 5%; } }
@media all and (max-width: 450px) {
  section.content {
    padding: 0 0 0 0; } }
.heading {
  margin-top: 5%;
  text-align: center;
  padding: 15px;
  position: relative;
  display: inline-block;
  background-color: rgba(221, 187, 153, 0.8);
  border: 2px solid white;
  color: white; }
  .heading h1 {
    font-size: 200%;
    margin: 0; }
  .heading p {
    font-size: 100%;
    margin: 0; }

p {
  word-wrap: break-word; }

img {
  max-height: 100%;
  max-width: 100%; }

#nav {
  width: 100%;
  position: absolute;
  background-color: #886666;
  text-align: center;
  z-index: 100;
  top: 100%;
  color: white;
  box-shadow: 0 0 6px rgba(51, 34, 51, 0.7); }
  #nav #nav-accrd {
    margin: 0 15%;
    width: 70%;
    padding: 0; }
    #nav #nav-accrd span {
      width: 100%;
      cursor: pointer;
      padding: 15px 10px;
      display: inline-block; }
      #nav #nav-accrd span:hover {
        color: #332233; }
      #nav #nav-accrd span.active {
        transition: background-color 0.5s ease;
        background-color: rgba(51, 34, 51, 0.6); }
  #nav img {
    cursor: pointer;
    display: none;
    float: right; }
  @media all and (max-width: 650px) {
    #nav #nav-accrd {
      width: 100%;
      margin: 0; }
      #nav #nav-accrd span {
        transform: none;
        width: 100%; }
      #nav #nav-accrd .col {
        padding: 0; }
    #nav .off {
      display: none; }
    #nav .on {
      display: auto; }
    #nav img {
      display: block; } }

#home {
  height: 100vh;
  background: url(background.jpeg);
  background-size: cover; }
  #home:before {
    content: '';
    height: 100%;
    background-color: white;
    width: 100%;
    opacity: 0.3;
    position: absolute; }
  @media all {
    #home {
      display: flex;
      align-items: center; } }
  #home .heading {
    margin-top: 5%;
    text-align: center;
    padding: 15px;
    position: relative;
    display: inline-block;
    background-color: rgba(221, 187, 153, 0.8);
    border: 2px solid white;
    color: white; }
    #home .heading h1 {
      font-size: 250%;
      margin: 0; }
    #home .heading p {
      font-size: 125%;
      margin: 0; }
  #home .down {
    position: absolute;
    left: 50%;
    top: 100%; }

.jobs:before {
  content: '';
  height: 90%;
  background: #00b3e0;
  position: absolute;
  left: 50%;
  width: 5px; }
.jobs .job {
  width: 50%; }
  .jobs .job > * {
    margin: 10px; }
  .jobs .job:nth-child(even) {
    float: left;
    clear: right;
    margin-left: -15px; }
  .jobs .job:nth-child(odd) {
    float: right;
    clear: left;
    margin-right: -15px; }
  @media all {
    .jobs .job:hover {
      box-shadow: 2px 3px 10px grey, -2px -4px 7px grey;
      transition: .5s; } }
  .jobs .job:before {
    content: '⬢';
    position: absolute;
    left: 50%;
    margin-left: -5px; }
@media all and (max-width: 850px) {
  .jobs:before {
    left: 0; }
  .jobs .job {
    width: 100%; }
    .jobs .job:nth-child(odd), .jobs .job:nth-child(even) {
      float: left;
      margin: 0 15px; }
    .jobs .job:before {
      left: 0; } }

@media all and (min-width: 850px) {
  .tabs .tab-button {
    margin: 10px 0;
    display: block;
    width: 10%; }
  .tabs .tab-content {
    position: absolute;
    margin-left: 10%;
    top: 0;
    width: 80%;
    padding: 20px; } }
.tabs .tab-button {
  cursor: pointer;
  text-align: center;
  border: solid 1px black; }
  .tabs .tab-button span {
    font-size: 30px;
    font-weight: 100; }
.tabs .tab-content {
  display: none; }
  .tabs .tab-content.active {
    display: block; }

#contact .col {
  text-align: center; }
#contact span {
  display: block; }

/*# sourceMappingURL=Style.css.map */
